.ModalWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);

  .Modal {
    background: red;


    .Header {

      display: flex;
      background: #880707;
      color: white;
       width: 100%;

      .HeaderText {
        padding: 0 5em ;
      }

    }
    .ModalBtn{
      display: flex;
      align-items: center;
    }
  }

}
